<button pButton type="button" label="Credits" (click)="showCreditsDialog = true"></button>

<p-dialog header="Credits" [(visible)]="showCreditsDialog" [draggable]="false">
    <div class="dialog-content">
        <p>Thanks to these resources!</p>
        <br>
        <p><b>Animal Crossing Wiki</b> for the <a href="https://animalcrossing.fandom.com/wiki/Flower" target="_blank">flower images!</a></p>
        <br>
        <p><b>thenewhylton</b> for the <a href="https://www.deviantart.com/thenewhylton/art/Animal-Crossing-Grass-Remake-Spring-HD-439882381" target="_blank">main background image!</a></p>
        <br>
        <p><b>Cat with Monocle</b> for the <a href="https://catwithmonocle.com/news/2020/02/06/animal-crossing-new-horizons-nook-pattern-wallpaper" target="_blank">header background image!</a></p>
    </div>
</p-dialog>
