.cell-options-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    &:nth-child(1) {
        margin-left: 0px;
    }

    .form-label {
        font-weight: 600;
        margin-bottom: 5px;
        color: white;
    }
}

.dialog-content {
    margin: 15px;
}

.file-upload-button {
    position: relative;
    input {
        position: absolute;
        left: 0px;
        width: 75px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
    }
}