.nav-options-container {
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .nav-item {
        display: flex;
        align-items: center;
        color: white;
        padding: 20px 30px;
        cursor: pointer;

        &:hover {
            background-color: rgb(68, 126, 61);
        }

        &:nth-child(1) {
            margin-left: 0px;
        }

        .material-icons {
            font-size: 20px;
            margin-right: 5px;
        }

        .nav-label {
            font-weight: 600;
        }
    }

    .nav-end {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;

        .nav-item {
            height: 100%;
            .material-icons {
                font-size: 30px;
            }
        }
    }
}


.dialog-content {
    margin: 15px;
    
    .form-group {
        display: flex;
        align-items: center;
        flex-direction: column;

        .form-label {
            font-weight: 600;
            margin-bottom: 5px;
        }        
    }

    .dialog-input {
        height: 25px;
        border: 1px lightgray solid;
        border-radius: 3px;
        padding: 5px;
        margin-top: 5px;
    }
}

.file-upload-button {
    display: flex;
    align-items:center;
    position: relative;
    input {
        position: absolute;
        left: 0px;
        width: 75px;
        height: 30px;
        opacity: 0;
        cursor: pointer;
    }
}
