.garden-cell {
    width: 25px;
    height: 25px;
    margin: 2px;

    &.empty {
        background-color: lightgray
    }
    
    &.grass {
        background-color: lightgreen;
    }

    &.cosmos {
        &.red {
            background-image: url('src/assets/flowers/cosmos-red')
        }
    }
}