.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 50px;
}

.nav-container {
    width: 100%;
    background-color: rgba(10, 77, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

app-nav {
    width: 100%;
}