.main-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 20px;
}

.nav-container {
    width: 100%;
    position: relative;
    padding-top: 15px;
    background-color: rgba(202, 202, 202, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

app-help {
    position: absolute;
    left: 45px;
}

app-credits {
    position: absolute;
    right: 45px;
}