/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    position: relative;

    .ui-dropdown {
        border-style: unset;
        border: 2px solid white;
        background: none;
        width: 150px;
        min-width: unset;

        &:hover {
            border-color: rgb(48, 97, 43) !important; 
        }

        .ui-dropdown-trigger {
            background-color: unset;
            color: white;
        }
    }

    .ui-inputtext {
        background: none;
    }
}

body {
    // background-image: url('./assets/Animal\ Crossing\ Grass\ Remake\ Spring\ [HD]\ BY\ thenewhylton.png');
    background-image: url('./assets/Animal\ Crossing\ Grass\ Remake\ Spring\ [HD]\ BY\ thenewhylton\ 50\ opacity.png')
}

app-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}